page-store {
  ion-card-header.card-header.card-header-md {
    background-color: color($colors, danger);
    margin-bottom: 2px;
  }

  ion-icon {
    color: #ffffff;
  }

  h2 {
    color: color($colors, light);
  }

  .store-name {
    font-size: 22px;
  }

  .label-md {
    margin: 0px;
    margin-left: 16px;
    margin-top: 8px;
    color: white;
  }

  .qty-contain {
    height: 100%;
  }

  .qty-margin {
    margin-top: 31px;
  }

  .button-md[icon-only] {
    padding: 0;
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: -5px;
    min-width: 0.9em;
    background-color: color($colors, danger);
  }

  h3 {
    padding: 12px 0px 12px 10px;
    font-size: 1.6rem;
  }

  .place-order {
    background-color: color($colors, danger);
  }

  .rating {
    ion-icon {
      color: color($colors, danger);
    }

    .item-md ion-thumbnail img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
    }

    .item-md ion-avatar img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
    }

    .card-header {
      margin: 0px;
      width: 100%;
      background-color: color($colors, primary);
      .item-md {
        background-color: transparent;
      }
    }

    .label-md {
      margin-left: 8px;
      color: black;
    }

    .card-md h1 {
      color: #f8f8f8;
    }

    .card-md p {
      color: #f8f8f8;
    }
  }
}

.contact-popover .popover-content {
  width: 70% !important;
}
